.alert-details-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.alert-card {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
/* alert info */
.alert-info {
    width: 60%;
}

.alert-info h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #0056b3;
}

.alert-status {
    margin: 15px 0;
}

.status-read {
    background: #28a745;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
}

.status-unread {
    background: #dc3545;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
}

.alert-image img {
    width: 280px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.alert-error {
    text-align: center;
    padding: 20px;
    color: #b30000;
}