.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.auth-form {
    width: 350px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-form input {
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-blue);
    border: none;
    color: var(--text-dark);
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: var(--primary-blue);
    transition: ease-in-out;
    scale: 1.02;
}

.auth-form p {
    text-align: center;
    margin-top: 10px;
}

.auth-form a {
    color: #007bff;
    text-decoration: none;
}

.auth-form a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}