.layout-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
}

.dashboard-body {
    display: flex;
}

.sidebar{
    width: 250px;
    height: 100vh;
    background-color: var(--bg-dark);
    box-shadow: var(--box-shadow);
}

.layout-content {
    padding: 20px 30px;
    overflow-y: auto;
    height: 100%;
    background-color: var(--bg-light);
}
