.ivms-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-blue, #1e3a8a);
    color: #fff;
    padding: 10px 18px;
    /* box-shadow: 0 3px 10px rgba(2, 6, 23, 0.35); */
    position: sticky;
    top: 0;
    z-index: 50;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-logo {
    width: 44px;
    height: 44px;
    object-fit: contain;
    border-radius: 8px;
    background: var(--primary-blue);
    padding: 6px;
}

.nav-appname .app-name {
    font-weight: 700;
    display: block;
}

.nav-appname .app-sub {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.85);
}

/* right */
.nav-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-btn {
    background: transparent;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.bell-dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4d4f;
    /* red dot */
}

/* profile */
.profile-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.06);
    padding: 6px 10px;
    border-radius: 999px;
    cursor: pointer;
    color: #fff;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-placeholder {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.profile-name {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-left: 6px;
    text-align: left;
}

.profile-name .small {
    font-size: 12px;
    opacity: 0.9
}

.profile-name strong {
    font-size: 14px;
}

.chev {
    opacity: 0.9;
}