.sidebar {
    width: 220px;
    background-color: var(--primary-blue);
    color: var(--text-dark);
    height: calc(100vh - 52px);
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar li:hover {
    background-color: #1e293b;
}