.sidebar {
    width: 220px;
<<<<<<< HEAD
    height: 100vh;
    background-color: var(--primary-blue);
    color: var(--text-dark);
    overflow: hidden;
=======
    background-color: var(--primary-blue);
    color: var(--text-dark);
    height: calc(100vh - 52px);
>>>>>>> d4cac4720d4cace9d447997545cd6c0a379eefc5
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    cursor: pointer;
<<<<<<< HEAD
    transition: all 0.3s ease;
=======
    transition: background 0.3s;
>>>>>>> d4cac4720d4cace9d447997545cd6c0a379eefc5
}

.sidebar li:hover {
    background-color: #1e293b;
<<<<<<< HEAD
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-link.active {
    background-color: var(--primary-color);
    font-weight: 600;
    color: white;
}
=======
}
>>>>>>> d4cac4720d4cace9d447997545cd6c0a379eefc5
